#  Manipulação de Arquivos e dados em Python

## Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Se quiserem fazer fora do Cocalc
lispoktab=pd.read_html( "https://pt.wikipedia.org/wiki/Lista_de_epis%C3%B3dios_de_Pok%C3%A9mon")

In [9]:
lispoktab=pd.read_html("Lista_de_episódios_de_Pokémon")

In [3]:
len(lispoktab)

14

In [10]:
lispoktab[1]

,Série,Geração,Temporada,Descrição,Episódios,Região
0,Série,Geração,Temporada,Descrição,Episódios,Região
1,Série Original (O Início/Ouro e Prata),Primeira (O Início),Liga Índigo,O treinador novato Ash Ketchum começa sua jorn...,001-083,Kanto
2,Aventuras nas Ilhas Laranja,Depois de competir na Liga Índigo e não ter o ...,084-118,Ilhas Laranja,NaN,NaN
3,Segunda (Ouro e Prata),Liga Johto,Quando o Professor Carvalho não consegue desco...,119-159,Johto,NaN
4,Campeões da Liga Johto,Continua com as aventuras de Ash e seus amigos...,160-211,NaN,NaN,NaN
5,Master Quest,"Ash, Misty e Brock em sua jornada descobrem um...",212-276,NaN,NaN,NaN
6,Rubi e Safira,Terceira,Pokémon: Avançado,Inicia as Aventuras de Ash e Brock em Hoenn. N...,277-316,Hoenn
7,Desafio Avançado,Continua com a jornada de Ash e seus amigos em...,317-368,NaN,NaN,NaN
8,Batalha Avançada,As equipes Magma e Aqua despertam Groudon e Ky...,369-422,NaN,NaN,NaN
9,Batalha da Fronteira,Conclui a Jornada na Batalha da Fronteira. May...,423-469,Kanto,NaN,NaN
10,Diamante e Pérola,Quarta,Diamante e Pérola,Inicia as aventuras de Ash e Brock em Sinnoh c...,470-521,Sinnoh
11,Batalha Dimensional,"Continua as aventuras de Ash, Brock e Dawn em ...",522-573,NaN,NaN,NaN
12,Batalhas Galácticas,"Continua a jornada de Ash, Dawn e Brock em Sin...",574-626,NaN,NaN,NaN
13,Vencedores da Liga Sinnoh,"Conclui a jornada de Ash, Dawn e Brock em Sinn...",627-660,NaN,NaN,NaN
14,Preto e Branco,Quinta,Preto e Branco,Inicia as aventuras de Ash na região de Unova ...,661-708,Unova
15,Destinos Rivais,Ash reencontra Dawn e Cynthia. Ash e seus amig...,709-757,NaN,NaN,NaN
16,Aventuras em Unova (e Mais Além),"Continua a jornada de Ash, Iris e Cilan em Uno...",758-804,NaN,NaN,NaN
17,XY,Sexta,A Série XY,Inicia as aventuras de Ash na região de Kalos ...,805-853,Kalos
18,Desafio em Kalos,"Continua as aventuras de Ash, Serena, Clemont ...",854-898,NaN,NaN,NaN
19,A Série: XY & Z,"Continua a saga de Ash ,Clement, Bonnie e Sere...",899-951,NaN,NaN,NaN
20,Sol e Lua,Sétima,Sol e Lua,"Inicia as aventuras de Ash, Victória, Lulú, Ki...",952-994,Alola
21,Ultra Aventuras,Continua as aventuras de Ash e seus colegas de...,995-1037,NaN,NaN,NaN
22,Ultra Lendas,NaN,1038-###,NaN,NaN,NaN

In [4]:
df=lispoktab[1]

In [5]:
columns=df.iloc[0]
df.columns=columns
df2=df[1:]

In [7]:
df

,Série,Geração,Temporada,Descrição,Episódios,Região
0,Série,Geração,Temporada,Descrição,Episódios,Região
1,Série Original (O Início/Ouro e Prata),Primeira (O Início),Liga Índigo,O treinador novato Ash Ketchum começa sua jorn...,001-083,Kanto
2,Aventuras nas Ilhas Laranja,Depois de competir na Liga Índigo e não ter o ...,084-118,Ilhas Laranja,NaN,NaN
3,Segunda (Ouro e Prata),Liga Johto,Quando o Professor Carvalho não consegue desco...,119-159,Johto,NaN
4,Campeões da Liga Johto,Continua com as aventuras de Ash e seus amigos...,160-211,NaN,NaN,NaN
5,Master Quest,"Ash, Misty e Brock em sua jornada descobrem um...",212-276,NaN,NaN,NaN
6,Rubi e Safira,Terceira,Pokémon: Avançado,Inicia as Aventuras de Ash e Brock em Hoenn. N...,277-316,Hoenn
7,Desafio Avançado,Continua com a jornada de Ash e seus amigos em...,317-368,NaN,NaN,NaN
8,Batalha Avançada,As equipes Magma e Aqua despertam Groudon e Ky...,369-422,NaN,NaN,NaN
9,Batalha da Fronteira,Conclui a Jornada na Batalha da Fronteira. May...,423-469,Kanto,NaN,NaN
10,Diamante e Pérola,Quarta,Diamante e Pérola,Inicia as aventuras de Ash e Brock em Sinnoh c...,470-521,Sinnoh
11,Batalha Dimensional,"Continua as aventuras de Ash, Brock e Dawn em ...",522-573,NaN,NaN,NaN
12,Batalhas Galácticas,"Continua a jornada de Ash, Dawn e Brock em Sin...",574-626,NaN,NaN,NaN
13,Vencedores da Liga Sinnoh,"Conclui a jornada de Ash, Dawn e Brock em Sinn...",627-660,NaN,NaN,NaN
14,Preto e Branco,Quinta,Preto e Branco,Inicia as aventuras de Ash na região de Unova ...,661-708,Unova
15,Destinos Rivais,Ash reencontra Dawn e Cynthia. Ash e seus amig...,709-757,NaN,NaN,NaN
16,Aventuras em Unova (e Mais Além),"Continua a jornada de Ash, Iris e Cilan em Uno...",758-804,NaN,NaN,NaN
17,XY,Sexta,A Série XY,Inicia as aventuras de Ash na região de Kalos ...,805-853,Kalos
18,Desafio em Kalos,"Continua as aventuras de Ash, Serena, Clemont ...",854-898,NaN,NaN,NaN
19,A Série: XY & Z,"Continua a saga de Ash ,Clement, Bonnie e Sere...",899-951,NaN,NaN,NaN
20,Sol e Lua,Sétima,Sol e Lua,"Inicia as aventuras de Ash, Victória, Lulú, Ki...",952-994,Alola
21,Ultra Aventuras,Continua as aventuras de Ash e seus colegas de...,995-1037,NaN,NaN,NaN
22,Ultra Lendas,NaN,1038-###,NaN,NaN,NaN

## Perguntas

Quantas regiões diferentes existem?

In [23]:
len(set(df2["Região"]))

8

Construa uma coluna com o número de episódios.

In [20]:
strepisodios=df2["Episódios"][0]

lis=strepisodios.split("-")
lis2=[int(elem) for elem in lis]
lis2[1]-lis2[0]+1

82

In [21]:
strepisodios=df2["Episódios"][0]
lis=strepisodios.split("-")
lis2=[int(elem) for elem in lis]
lis2[1]-lis2[0]+1

83

In [22]:
def geraduracao(string):
    lis=string.split("-")
    lis2=[int(elem) for elem in lis]
    return lis2[1]-lis2[0]+1

In [23]:
teste=(df2["Episódios"].apply(geraduracao))
df2["Duração"]=teste

/usr/local/lib/python3.6/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [24]:
df2

,Série,Geração,Temporada,Descrição,Episódios,Região,Duração
0,Série Original (O Início/Ouro e Prata),Primeira (O Início),Liga Índigo,O treinador novato Ash Ketchum começa sua jorn...,001-083,Kanto,83
1,Série Original (O Início/Ouro e Prata),Primeira (O Início),Aventuras nas Ilhas Laranja,Depois de competir na Liga Índigo e não ter o ...,084-118,Ilhas Laranja,35
2,Série Original (O Início/Ouro e Prata),Segunda (Ouro e Prata),Liga Johto,Quando o Professor Carvalho não consegue desco...,119-159,Johto,41
3,Série Original (O Início/Ouro e Prata),Segunda (Ouro e Prata),Campeões da Liga Johto,Continua com as aventuras de Ash e seus amigos...,160-211,Johto,52
4,Série Original (O Início/Ouro e Prata),Segunda (Ouro e Prata),Master Quest,"Ash, Misty e Brock em sua jornada descobrem um...",212-276,Johto,65
5,Rubi e Safira,Terceira,Pokémon: Avançado,Inicia as Aventuras de Ash e Brock em Hoenn. N...,277-316,Hoenn,40
6,Rubi e Safira,Terceira,Desafio Avançado,Continua com a jornada de Ash e seus amigos em...,317-368,Hoenn,52
7,Rubi e Safira,Terceira,Batalha Avançada,As equipes Magma e Aqua despertam Groudon e Ky...,369-422,Hoenn,54
8,Rubi e Safira,Terceira,Batalha da Fronteira,Conclui a Jornada na Batalha da Fronteira. May...,423-469,Kanto,47
9,Diamante e Pérola,Quarta,Diamante e Pérola,Inicia as aventuras de Ash e Brock em Sinnoh c...,470-521,Sinnoh,52
10,Diamante e Pérola,Quarta,Batalha Dimensional,"Continua as aventuras de Ash, Brock e Dawn em ...",522-573,Sinnoh,52
11,Diamante e Pérola,Quarta,Batalhas Galácticas,"Continua a jornada de Ash, Dawn e Brock em Sin...",574-626,Sinnoh,53
12,Diamante e Pérola,Quarta,Vencedores da Liga Sinnoh,"Conclui a jornada de Ash, Dawn e Brock em Sinn...",627-660,Sinnoh,34
13,Preto e Branco,Quinta,Preto e Branco,Inicia as aventuras de Ash na região de Unova ...,661-708,Unova,48
14,Preto e Branco,Quinta,Destinos Rivais,Ash reencontra Dawn e Cynthia. Ash e seus amig...,709-757,Unova,49
15,Preto e Branco,Quinta,Aventuras em Unova (e Mais Além),"Continua a jornada de Ash, Iris e Cilan em Uno...",758-804,Unova,47
16,XY,Sexta,A Série XY,Inicia as aventuras de Ash na região de Kalos ...,805-853,Kalos,49
17,XY,Sexta,Desafio em Kalos,"Continua as aventuras de Ash, Serena, Clemont ...",854-898,Kalos,45
18,XY,Sexta,A Série: XY & Z,"Continua a saga de Ash ,Clement, Bonnie e Sere...",899-951,Kalos,53
19,Sol e Lua,Sétima,Sol e Lua,"Inicia as aventuras de Ash, Victória, Lulú, Ki...",952-994,Alola,43

In [26]:
gb=df2.groupby("Região")

In [27]:

gb["Geração"].count()

Região
Alola            1
Hoenn            3
Ilhas Laranja    1
Johto            3
Kalos            3
Kanto            2
Sinnoh           4
Unova            3
Name: Geração, dtype: int64

In [28]:
gb["Duração"].mean()

Região
Alola            43.000000
Hoenn            48.666667
Ilhas Laranja    35.000000
Johto            52.666667
Kalos            49.000000
Kanto            65.000000
Sinnoh           47.750000
Unova            48.000000
Name: Duração, dtype: float64

## Exercícios

- Calcule o número de episódios em cada geração.

## Exemplo Tenis

### Para baixar os programas use o comando (não será necessário no SageMathCloud)

In [1]:
%%sh

git clone https://github.com/ipython-books/cookbook-data.git
cd cookbook-data
unzip tennis.zip

Archive:  tennis.zip
  inflating: data/Andy-Murray.csv
  inflating: data/Novak-Djokovic.csv
  inflating: data/Rafael-Nadal.csv
  inflating: data/Roger-Federer.csv

Cloning into 'cookbook-data'...

In [32]:
import numpy as np
import pandas as pd
player = 'Roger Federer'
filename = "./cookbook-data/data/{name}.csv".format(name=player.replace(' ', '-')) 
df = pd.read_csv(filename)

In [33]:
df

WARNING: Some output was deleted.

In [4]:
df.columns

Index(['year', 'tournament', 'start date', 'type', 'surface', 'draw',
       'atp points', 'atp ranking', 'tournament prize money', 'round',
       'opponent', 'ranking', 'score', 'stats link', 'tournament.1',
       'tournament round', 'time', 'winner', 'player1 name',
       'player1 nationality', 'player1 aces', 'player1 double faults',
       'player1 1st serves in', 'player1 1st serves total',
       'player1 1st serve points won', 'player1 1st serve points total',
       'player1 2nd serve points won', 'player1 2nd serve points total',
       'player1 break points won', 'player1 break points total',
       'player1 service games played', 'player1 1st serve return points won',
       'player1 1st serve return points total',
       'player1 2nd serve return points won',
       'player1 2nd serve return points total',
       'player1 break points converted won',
       'player1 break points converted total', 'player1 return games played',
       'player1 total service points won',
       'player1 total service points total', 'player1 total return points won',
       'player1 total return points total', 'player1 total points won',
       'player1 total points total', 'player2 name', 'player2 nationality',
       'player2 aces', 'player2 double faults', 'player2 1st serves in',
       'player2 1st serves total', 'player2 1st serve points won',
       'player2 1st serve points total', 'player2 2nd serve points won',
       'player2 2nd serve points total', 'player2 break points won',
       'player2 break points total', 'player2 service games played',
       'player2 1st serve return points won',
       'player2 1st serve return points total',
       'player2 2nd serve return points won',
       'player2 2nd serve return points total',
       'player2 break points converted won',
       'player2 break points converted total', 'player2 return games played',
       'player2 total service points won',
       'player2 total service points total', 'player2 total return points won',
       'player2 total return points total', 'player2 total points won',
       'player2 total points total'],
      dtype='object')

In [35]:
df["winner"] == player

0       False
1        True
2        True
3       False
4       False
5       False
6        True
7        True
8        True
9        True
10       True
11       True
12      False
13       True
14       True
15       True
16      False
17       True
18       True
19      False
20       True
21      False
22       True
23      False
24      False
25       True
26      False
27      False
28      False
29      False
        ...
1149     True
1150    False
1151     True
1152     True
1153     True
1154     True
1155     True
1156     True
1157     True
1158     True
1159     True
1160     True
1161     True
1162     True
1163     True
1164     True
1165     True
1166     True
1167     True
1168    False
1169     True
1170     True
1171     True
1172     True
1173     True
1174    False
1175     True
1176     True
1177     True
1178    False
Name: winner, Length: 1179, dtype: bool

In [36]:
df['win'] = df['winner'] == player
df['win'].tail()

1174    False
1175     True
1176     True
1177     True
1178    False
Name: win, dtype: bool

In [6]:
("{player} has won {vic:.0f}% "
               "of his ATP matches.").format(
                player=player, vic=100*df['win'].mean())

'Roger Federer has won 82% of his ATP matches.'

In [37]:
df['dblfaults'] = (df['player1 double faults'] / 
                   df['player1 total points total'])

In [38]:
df['dblfaults'].tail()

1174    0.018116
1175    0.000000
1176    0.000000
1177    0.011561
1178         NaN
Name: dblfaults, dtype: float64

In [9]:
gb = df.groupby('year')

In [12]:
gb['dblfaults'].mean()

year
1998    0.021580
1999    0.023588
2000    0.021473
2001    0.017495
2002    0.016521
2003    0.018611
2004    0.013195
2005    0.010575
2006    0.007639
2007    0.007388
2008    0.005887
2009    0.010379
2010    0.009185
2011    0.009136
2012    0.009365
Name: dblfaults, dtype: float64

**Exercício:**

1. Construa uma tabela com o número de vitórias e derrotas de Federer para cada tipo de terreno.